<h1>My Cocktails</h1>

<%= cl_image_tag("bar_beer_unsplash",
      width: 400, height: 300, crop: :fill) %>

<div class="wrapper">
  <ul>
    <% @cocktails.each do |cocktail| %>
      <li>
        <%= cocktail.id %> |
        <%= cocktail.name %>
        <%= link_to 'See details', cocktail_path(cocktail.id)%>
        <div class="card"
          style="background-image: linear-gradient(rgba(100,100,100,0.3), rgba(100,100,100,0.2)),
                 url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
          <div class="card-category">
            Popular
          </div>
          <div class="card-description">
            <h2>Some stuff</h2>
            <p>Very cool stuff, useful and smart</p>
          </div>
          <a class="card-link" href="#" ></a>
        </div>
      </li>
    <% end %>
  </ul>

  <p><%= link_to 'Add a Cocktail', new_cocktail_path %></p>
</div>
